@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	// variables
	:root {
		--main-color: #ff9800;
	}
	// Global Rules
	* {
		@apply capitalize box-border;
	}
	body {
		font-family: "Open Sans", sans-serif;
	}
	.container {
		@apply max-w-full sm:max-w-full md:max-w-full lg:max-w-full px-4 py-2;
	}
	.overlay {
		@apply absolute w-full h-full inset-0 z-10;
		background-color: rgba(0, 0, 0, 0.6);
	}
	li {
		@apply list-none;
	}
	section {
		@apply w-full h-full;
	}
	// components
	[bg-main],
	[hover-bg-main]:hover {
		background-color: var(--main-color) !important;
	}
	[c-main],
	[hover-c-main]:hover {
		color: var(--main-color) !important;
	}
	// main header
	.main {
		&-header {
			@apply absolute top-12 left-1/2 -translate-x-1/2 text-black font-bold text-4xl;
		}
	}
	// settings box
	.settings-box {
		transition: 0.3s;
		&.show {
			@apply left-0;
			i::before {
				@apply animate-spin;
			}
		}
		.settings {
			.colors {
				ul li.active {
					@apply border-2 border-white;
				}
			}
			:is(.randomBg, .bullets) {
				button.active {
					@apply opacity-100;
				}
			}
		}
	}
	// Landing
	.landing {
		background: url("../../src/assets/imgs/landing/01.jpg") no-repeat;
		background-size: cover;
		nav {
			ul.show {
				@apply flex w-full flex-col left-0 top-[10%] bg-white bg-opacity-40 gap-0;
				li {
					@apply py-4 flex justify-center text-lg;
				}
			}
		}
	}
	// our skills
	// progress
	#skills {
		progress {
			@apply w-full h-7;
			&::-webkit-progress-bar {
				@apply bg-gray-200 text-red-600;
			}
			&::-webkit-progress-value {
				@apply transition-medium;
				background-color: var(--main-color);
			}
		}
	}
}
